.circle {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--circle-color);
  animation: GFG 5s infinite linear;
  z-index: 5;
}


@keyframes GFG {
  0% {
    transform: rotate(0deg) translate(calc(var(--time-circle-base-size) * 0.5));
  }

  100% {
    transform: rotate(360deg) translate(calc(var(--time-circle-base-size) * 0.5));
  }
}