.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

.time {
  font-size: 2.85rem;
  font-weight: 600;
  user-select: none;
  word-break: break-all;
  text-align: center;
}

.controls,
.options {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.controls {
  max-width: 30rem;
  margin-top: 2.5rem;
}

.options {
  gap: 1.5rem;
}

.button {
  width: 100%;
  padding: 0.55rem 0.75rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  font-weight: 500;

  color: var(--secondary-text-color);
  background-color: var(--btn-color);
  border: 2px solid var(--btn-color);
  box-shadow: 0 1px 6px rgba(0, 0, 0, .4);
  transition: .25s ease-in;
}

.button:not(:disabled):hover {
  transform: scale(1.035);
}

.button:not(:disabled):active {
  opacity: 0.8;
}

.button:disabled {
  background-color: var(--disabled-btn-color);
  border-color: var(--disabled-border-color);
  color: var(--disabled-text-color);
}

@media (max-width: 1280px) {
  .controls {
    margin-top: 1.5rem;
  }
}

@media (max-width: 960px) {
  .controls {
    margin-top: 1.25rem;
  }

  .options {
    gap: 1.25rem;
  }

  .time {
    font-size: 2.5rem;
  }

  .button {
    padding: 0.4rem 0.75rem;
    font-size: 1.15rem;
  }
}

@media (max-width: 600px) {
  .controls {
    width: 80%;
  }

  .options {
    gap: 1rem;
  }

  .time {
    font-size: 2.15rem;
  }
}