:root {
  --primary-text-color: #000;
  --secondary-text-color: #fff;

  --header-color: #4b84ff;
  --header-shadow-color: rgba(62, 139, 253, 0.75);
  --link-color: #4b84ff;
  --link-bg-color: #fff;

  --stopwatch-bg-color-to: #98b7ff;
  --stopwatch-bg-color-center: #87c9ff;
  --stopwatch-bg-color-from: #98b7ff;
  --stopwatch-border-color: #4b84ff;
  --waves-color: rgba(91, 143, 255, 0.5);
  --circle-color: #4b84ff;

  --record-diff-color: #4b84ff;

  --btn-color: #4b84ff;
  --disabled-btn-color: #ececec;
  --disabled-border-color: #ececec;
  --disabled-text-color: #707070;
}

[data-theme="stopwatch-stop"] {
  --primary-text-color: #000;
  --secondary-text-color: #fff;

  --header-color: #ff954f;
  --header-shadow-color: #fe8e44;
  --link-color: #fe8e44;
  --link-bg-color: #fff;

  --stopwatch-bg-color-to: #ffb76f;
  --stopwatch-bg-color-center: #ffd16f;
  --stopwatch-bg-color-from: #ffb76f;
  --stopwatch-border-color: #fe8e44;
  --waves-color: rgba(255, 189, 35, 0.5);
  --circle-color: #fe8e44;

  --record-diff-color: #ff954f;

  --btn-color: #fe8e44;
  --disabled-btn-color: #ececec;
  --disabled-border-color: #ececec;
  --disabled-text-color: #707070;
}