:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --theme-primary-color: #4b84ff;

  --header-color: #4b84ff;
  --link-color: #fff;
  --link-bg-color: #3761ec;

  --btn-color: #4b84ff;
  --disabled-btn-color: #858484;

  --toast-box-shadow: #ffddad;
  --toast-error-color: #e04f5f;

}