.timeCircle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;

  width: var(--time-circle-base-size);
  height: var(--time-circle-base-size);

  border-radius: 50%;
  border: 0.35rem solid var(--time-circle-border-color);
  box-shadow: 0 0 8px 1px var(--time-circle-border-color);

  background: linear-gradient(to bottom right,
      var(--time-circle-bg-color-from) 15%,
      var(--time-circle-bg-color-center) 50%,
      var(--time-circle-bg-color-to) 85%);

  color: var(--secondary-text-color);
  outline: none;
}

.timeCircle:after {
  content: '';
  position: absolute;
  top: 45%;
  left: 45%;
  width: calc(var(--time-circle-base-size) * 0.1);
  height: calc(var(--time-circle-base-size) * 0.1);
  border-radius: 50%;
  background-color: var(--waves-color);

  opacity: 0;
  transform: scale(1, 1);
  transform-origin: 50% 50%;
}

.timeCircle:focus:not(:active)::after {
  animation: waves .85s ease-out;
}

@media (max-width: 1280px) {
  .timeCircle { 
    border-width: 0.25rem;
  }
}

@keyframes waves {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  25% {
    opacity: 0.85;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.15;
  }
  100% {
    opacity: 0;
    transform: scale(12, 12);
  }
}
