.timeCircle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;

  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  border: 0.35rem solid var(--time-circle-border-color);
  box-shadow: 0 0 8px 1px var(--time-circle-border-color);

  background: linear-gradient(to bottom right,
      var(--time-circle-bg-color-from) 15%,
      var(--time-circle-bg-color-center) 50%,
      var(--time-circle-bg-color-to) 85%);

  color: var(--secondary-text-color);
  outline: none;
}

.timeCircle:after {
  content: '';
  position: absolute;
  top: 49%;
  left: 49%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;

  opacity: 0;
  background-color: var(--waves-color);
  transform: scale(1, 1);
}

.timeCircle:focus:not(:active)::after {
  animation: waves .85s ease-out;
}

@keyframes waves {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }

  20% {
    transform: scale(35, 35);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(60, 60);
  }
}