.header {
  display: flex;
  justify-content: space-around;
  padding: 2rem 1rem;
  background-color: var(--header-color);
  box-shadow: 0 2px 4px var(--header-shadow-color);
}

.link {
  position: relative;
  min-width: 12rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
  text-align: center;
  text-decoration: none;

  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary-text-color);
  background-color: var(--link-bg-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, .4);
  transition: all 0.2s ease-in;
}

.link:not(.link_active):hover {
  transform: scale(1.035);
}

.link:not(.link_active):active {
  opacity: 0.7;
}

.link_active {
  color: var(--link-color);
}

.link_notify {
  color: var(--secondary-text-color);
  background-color: var(--link-notify);
  animation: help 1s ease-in-out infinite alternate;
}

@keyframes help {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

@media (max-width: 960px) {
  .header {
    padding: 1.75rem 0.75rem;
  }

  .link {
    min-width: 10rem;
    padding: 0.5rem;

    font-size: 1.15rem;
  }
}

@media (max-width: 600px) {
  .header {
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5rem 0.5rem;
    gap: 0.5rem;
  }
  
  .link {
    width: 80%;
    padding: 0.5rem;
    border-radius: 1.25rem;
    font-size: 1rem;
  }
  
}