.header {
  display: flex;
  justify-content: space-around;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: var(--header-color);
}

.link {
  position: relative;
  min-width: 12rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
  text-align: center;
  text-decoration: none;

  font-size: 1.35rem;
  font-weight: 600;
  color: var(--link-color);
  background-color: var(--link-bg-color);
  transition: all 0.2s ease-in;
}

.link:not(.link_active):hover {
  transform: scale(1.035);
}

.link:not(.link_active):active {
  opacity: 0.7;
}