.header {
  display: flex;
  justify-content: space-around;
  padding: 2rem 1rem;
  background-color: var(--header-color);
  box-shadow: 0 2px 4px var(--header-shadow-color);
}

.link {
  position: relative;
  min-width: 12rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
  text-align: center;
  text-decoration: none;

  font-size: 1.25rem;
  font-weight: 600;
  color: var(--link-color);
  background-color: var(--link-bg-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, .4);
  transition: all 0.2s ease-in;
}

.link:not(.link_active):hover {
  transform: scale(1.035);
}

.link:not(.link_active):active {
  opacity: 0.7;
}